{% extends "index.html" %}

{% block functions %}
    
        <div class="file-innerContainer-header">
    
            <h4 class="display-4">File.</h4>
            </div>
            <div class="fileBox">
                <form action="/file/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="filename" id="file">
                    <div class="btnContainer">
                        <a href="/file/delete"><button>Clear</button></a>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
    
    {% endblock %}